.login-container {
    display: flex;
    justify-content: flex-end;
    /* align-content: center; */
    height: 100%;
    /* background-repeat: no-repeat; */
    /* background-image: url("../_images/login_page.png"); */
    /* background-repeat: no-repeat; */
    position: relative;
    /* background-size: 100% 100%; */
}

html,
body,
#app {
    height: 100%;
}

#app>div {
    height: 100%;
}

.login-box {
    background: rgba(51, 69, 158, 0.5);
    color: rgb(255, 255, 255);
    font-weight: 700;
    padding: 50px;
    /* border-radius: 10px; */
}

.login-img {
    position: inherit;
    height: 100%;
    background-repeat: no-repeat;
    background-image: url("../_images/login_page1.jpg");
}

.container-fluid {
    height: 100%;
}

.container-fluid>.row {
    height: 100%;
}


/* side bar css */

.menu-items {
    width: 100%;
}

.side-bar {
    border-right: 1px solid lightgrey;
    background: ghostwhite;
    height: 100%;
}

.sidebar-wrapper {
    border-right: 1px solid ghostwhite;
    background: ghostwhite;
}


/* side bar css */

.top-bar {
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.top-bar .logged-user {
    font-size: 20px;
}

.top-bar .log-out {
    margin-left: 20px;
}

.top-bar .system-name {
    margin-left: 20px;
}


.home-page-body {}

.flex-parent {
    display: flex;
    flex-direction: column;
}

.flex-header {
    flex: 0 0 50px;
    border-bottom: 3px solid rgb(41, 25, 184);
}

.flex-body {
    flex: 1 1;
}

.alert-box {
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    z-index: 1;
}

.child-component-container {
    margin: 10px;
    border: 1px solid rgb(45, 29, 192);
    border-radius: 5px;
    background: ghostwhite;
    max-height: 100%;
    overflow: auto;
    width: 100%;
    flex-direction: column;
}

.child-component-header {
    background: rgb(32, 18, 233);
    padding: 10px;
    color: ghostwhite;
}

.page-content-wrapper {
    height: 100%;
    padding: 10px;
    width: 100%;
    display: flex;
}

.menuitems>.list-group-item {
    border-radius: 0px;
}

.custom-loader {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(255, 255, 255, 0.2);
    z-index: 1;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.help-block {
    color: red;
    font-weight: 700;
}

.menu-item-custom {
    padding: 10px;
    text-align: left;
    font-weight: 700;
}

.menu-item-content {
    font-weight: 700;
    font-size: 15px;
}

.side-bar-menu-icon {
    margin-left: 10px;
}